{% extends "layouts/main.html" %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add fraud information</h1>
      <p></p>

      <form action="cya" method="post" novalidate>

        <div class="govuk-form-group">
          <!-- <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="user-id">
              Enter the User IDs
            </label>
          </h2> -->

          <label class="govuk-label" for="more-detail">
            Enter the User IDs
          </label>
          <div id="user-id-hint" class="govuk-hint">
            Please enter all User IDs, separated by a comma (,)
          </div>
          <textarea class="govuk-textarea" id="user-id" name="user-id" rows="5" aria-describedby="user-id-hint"></textarea>
        </div>




        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "reason",
          name: "reason",
          label: {
            text: "What is the reason for this update?"
          },
            hint: {
            text: "This is often refered to as the event type"
          },
          items: [
            {
              value: "choose",
              text: "Choose reason",
              selected: true
            },
      
  {
    value: "Account disabled",
    text: "Account disabled"
  },

  {
    value: "Account enabled",
    text: "Account enabled"
  },

 

  {
    value: "Suspicion or Detection of Identity Fraud",
    text: "Suspicion or Detection of Identity Fraud"
  },

  {
    value: "Password compromised",
    text: "Password compromised"
  },



  {
  value: "User is being investigated",
  text: "User is being investigated"
}
          ]
        }) }}




<!-- 
        <div class="govuk-form-group">
          <label class="govuk-label" for="subject">
            Choose credential type
          </label>

          <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
            <option value="choose" selected>Choose credential type</option>
            <option value="Password">Password</option>
            <option value="Pin">Pin</option>
            <option value="X509">X509</option>
            <option value="fido2-platform">fido2-platform</option>
            <option value="fido2-roaming">fido2-roaming</option>
            <option value="fido-u2f">fido-u2f</option>
            <option value="Verifiable-credential">Verifiable-credential</option>
            <option value="Phone-voice">Phone-voice</option>
            <option value="Phone-sms">Phone-sms</option>
            <option value="App">App</option>
          </select>
        </div> -->


        <div class="govuk-form-group">
    

          <label class="govuk-label" for="source">
            Choose the source for this information (optional)
          </label>

          <!-- <div id="source-hint" class="govuk-hint">
            This is often called the rational code
          </div> -->
          <select class="govuk-select" id="source" name="source" aria-describedby="source-hint">
            <option value="choose" selected>Choose the source</option>
            <option value="Details found on compromised list">Details found on compromised list</option>
            <option value="Intelligence internally and third parties">Intelligence internally and third parties</option>
            <option value="Intelligence from criminal investigations">Intelligence from criminal investigations</option>
            <option value="Usual monitoring exercises">Usual monitoring exercises</option>
          </select>
        </div>

        
   


      





        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}