{% extends "layouts/main.html" %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="cya" method="post" novalidate>


       {% from "govuk/components/radios/macro.njk" import govukRadios %}




       {% from "govuk/components/input/macro.njk" import govukInput %}



       {% set textHtml %}
       {{ govukInput({
         id: "other-source",
         name: "other-source",
         type: "text",
         autocomplete: "text",
         classes: "govuk-!-width-one-third",
         label: {
           text: "Add source"
         }
       }) }}
       {% endset -%}
        

       {% if (data['release-statue'] == "MVP") %}



        {{ govukRadios({
          name: "source",
          fieldset: {
            legend: {
              text: "What is the source of this information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is often called the rational code"
        
        },
        


           items: [
            {
              value: "Active criminal investigation",
              text: "Active criminal investigation"
            },
  
            {
              value: "Suspected stolen account",
              text: "Suspected stolen account"
            },

       
            {
              value: "Suspected Sold Account",
              text: "Suspected Sold Account"
            },

            {
              value: "Active intelligence enquiry",
              text: "Active intelligence enquiry"
            },
            {
              value: "Active customer contact",
              text: "Active customer contact"
            },

            {
              value: "Third party intelligence",
              text: "Third party intelligence"
            },
            {
              divider: "or"
            },
              {
                value: "other source",
                text: "Other",
                conditional: {
                  html: textHtml
                }
              }
            ]
          }) }}

        

        {% elseif (data['method'] == "Account takeover") or (data['method'] == "Agent misuse") %}


        {{ govukRadios({
          name: "source",
          fieldset: {
            legend: {
              text: "What is the source of this information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is often called the rational code"
        
        },
        


           items: [
            {
              value: "Active criminal investigation",
              text: "Active criminal investigation"
            },
  
            {
              value: "Suspected stolen account",
              text: "Suspected stolen account"
            },

       
            {
              value: "Suspected Sold Account",
              text: "Suspected Sold Account"
            },

            {
              value: "Active intelligence enquiry",
              text: "Active intelligence enquiry"
            },
            {
              value: "Active customer contact",
              text: "Active customer contact"
            },

            {
              value: "Third party intelligence",
              text: "Third party intelligence"
            },
            {
              divider: "or"
            },
              {
                value: "other source",
                text: "Other",
                conditional: {
                  html: textHtml
                }
              }
            ]
          }) }}

        


        {% else %}



{{ govukRadios({
  name: "source",
  fieldset: {
    legend: {
      text: "What is the source of this information?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This is often called the rational code"

},


  items: [
  {
    value: "Active criminal investigation",
    text: "Active criminal investigation"
  },

  {
    value: "Suspected stolen account",
    text: "Suspected stolen account"
  },


  {
    value: "Active intelligence enquiry",
    text: "Active intelligence enquiry"
  },
  {
    value: "Active customer contact",
    text: "Active customer contact"
  },

  {
    value: "Third party intelligence",
    text: "Third party intelligence"
  },
  {
    divider: "or"
  },
    {
      value: "other source",
      text: "Other",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    
    </div>
  </div>
{% endblock %}
