{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-reason-answer" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        
        {{ govukRadios({
          name: "reason",
          fieldset: {
            legend: {
              text: "What is the reason for this update?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is often refered to as the event type"
        
        },
           items: [
            {
              value: "accounts",
              text: "Account related"
            },
            {
              value: "Identifier changed",
              text: "Identifier changed"
            },
            {
              value: "Identifier recylced",
              text: "Identifier recylced"
            },
            {
              value: "Credential comprimised",
              text: "Credential comprimised"
            },
            {
              value: "optin",
              text: "Account opted in or out from event changes"
            },
 
            {
              value: "Recovery activated",
                text: "Recovery activated"
            },
            {
              value: "Recovered information changed",
              text: "Recovered information changed"
            }
          ]
        }) }}


   

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}