{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="get-options-answer" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        
        {{ govukRadios({
          name: "get-options",
          fieldset: {
            legend: {
              text: "What fraud information would you like to download?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This will be downloaded in a .csv format"
        
        },
           items: [
            {
              value: "all",
              text: "All stored information"
            },
            {
              value: "certain-events",
              text: "Certain event information"
            },
            {
              value: "30days",
              text: "All updates from the last 30 days"
            },
            {
              value: "last-login",
              text: "All updates since I last logged in"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}