{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Update shared information"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <p>Use this service if you are unable to automatically share fraud information using the Shared Signals Framework.</p>

      <p>Use can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Add fraud information</li>
        <li>Get fraud information</li>
        {% if (data['view-state'] == "yes") %}
        <li>View fraud information</li>
        {% endif %}

        <li>View my previous submissions</li>

      </ul>

      {{ govukButton({
        text: "Update shared information",
        href: "login",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
      The information you are uploading must be in line with the <a href="#">Shared Signals Framework (SSF) guidelines</a></p>
      <p>
        You can also upload and download information automatically, if you have the <a href="#">SSF capabilities</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Shared Signals Framework guidelines
              </a>
            </li>
  
    
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
