{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Design History
      </h1>
      <p>This is the design history for the Share Signals UI prototype. This will show rational for design decisions, highlighting ket elements that have iterated between versions.</p>

      <p>Use can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Upload information</li>
        <li>View previous uploaded information</li>
      </ul>

      <p>
        Working progress
      </p>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="../">
                Prototype landing page
              </a>
            </li>
            <li>
              <a href="#">
                Version 1-0-0 (October 2023)
              </a>
            </li>
           
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
