{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header-fai-hashed.html') %}
{% endblock %}

{% block pageTitle %}
Submit manual account intervention – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation-mai" method="post" novalidate>


      {{ govukInput({
        label: {
          text: "What is the email address or telephone number you'd like to hash?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "For example, test.user@digital.cabinet-office.gov.uk"
        },
        id: "hashed-data",
        name: "hashed-data",
        classes: "govuk-input--width-20"
      }) }}
    


        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}