{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What type of fraud information do you want to share? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-ids" method="post" novalidate>



        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">What type of fraud information do you want to share?</h1>

        <p>Choose what type of fraud-related events you'd like to share with GOV.UK One Login.</p>


        <!-- {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
          text: "At the moment, you can only share one type of event at a time using this service."
        }) }} -->



        


        {% if (data['release-state'] == "MVPadd") or (data['release-state'] == "MVP2")  %}

    
{{ govukRadios({
  name: "reason",
  fieldset: {
 
  },


   items: [



   {
    value: "Users that you suspect of being involved in fraud",
    text: "Users that you suspect of being involved in fraud"
  },


  {
    value: "Users that you no longer suspect of being involved in fraud",
    text: "Users that you no longer suspect of being involved in fraud"
  },



  {
    value: "Users that have been blocked",
    text: "Users that have been blocked from accessing your services"
  },

  {
    value: "Users that have been unblocked",
    text: "Users that have been unblocked from accessing your services"
  },
  {
    value: "Users who passwords may have been compromised",
    text: "Users who passwords may have been compromised"
  }


    
  ]
}) }}


        {% else %}





        {{ govukRadios({
          name: "reason",
          fieldset: {
         
          },


           items: [



           {
            value: "Users that you suspect of being involved in fraud (including users who passwords may have been compromised)",
            text: "Users that you suspect of being involved in fraud (including users who passwords may have been compromised)"
          },
        
        
          {
            value: "Users that you no longer suspect of being involved in fraud",
            text: "Users that you no longer suspect of being involved in fraud"
          },



          {
            value: "Users that have been blocked",
            text: "Users that have been blocked from accessing your services"
          },
        
          {
            value: "Users that have been unblocked",
            text: "Users that have been unblocked from accessing your services"
          }

            
          ]
        }) }}


        {% endif %}    
      
   

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}