{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – Share fraud information with GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% include('./includes/phase-banner.html') %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>


      <p>GOV.UK One Login shares fraud-related information with the government services that are using it. This is sometimes called 'shared signals'.</p>

        <p>You can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">

        <li>share information with GOV.UK One Login about fraud-related events in your service</li>
        <li>download fraud information that GOV.UK One Login and other services have shared in the last 14 days, including any updates from GOV.UK One Login about fraud events you’ve shared</li>
  
    
        </ul>

      <p>You'll need to sign in to use this service. </p>


      {{ govukButton({
        text: "Sign in",
        href: "login",
        isStartButton: true
      }) }}


      <h2 class="govuk-heading-m">If you do not have an account</h2>


      <p>If you need to use this service and you do not have an account yet, email the GOV.UK One Login Fraud Team on <a href="#">di-fraud-pod-ucd-team@digital.cabinet-office.gov.uk</a>.</p>


    </div>

    <div class="govuk-grid-column-one-third">

 

    </div>
  </div>

{% endblock %}
