{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="cya" method="post" novalidate>

        
      <!-- {% if (data['add'] == "ID1st")  %}
      <form action="cya" method="post" novalidate>

        {% elseif (data['upload-state'] == "uploadsingle")  %}
        <form action="id-multiple" method="post" novalidate>
        
        {% else %}
        <form action="add-ids" method="post" novalidate>

      {% endif %} -->



        
       {% from "govuk/components/radios/macro.njk" import govukRadios %}



       {% from "govuk/components/input/macro.njk" import govukInput %}



       {% set textHtml %}
       {{ govukInput({
         id: "other-source",
         name: "other-source",
         type: "text",
         autocomplete: "text",
         classes: "govuk-!-width-one-third",
         label: {
           text: "Add source"
         }
       }) }}
       {% endset -%}
        




        {{ govukRadios({
          name: "source",
          fieldset: {
            legend: {
              text: "What is the source of this information? (optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is often called the rationale code"
        
        },
        


           items: [
            {
              value: "Intelligence from user investigation",
              text: "Intelligence from user investigation"
         
           
            },
  
            {
              value: "Intelligence from customer contact",
              text: "Intelligence from customer contact"
            },

            {
              value: "Intelligence from active criminal investigation",
              text: "Intelligence from active criminal investigation"
            },
            {
              value: "Intelligence from private investigation",
              text: "Intelligence from private investigation"
            },

           
            {
              value: "I do not know",
              text: "I do not know"
            },
            
            {
              divider: "or"
            },
              {
                value: "other source",
                text: "Other",
                conditional: {
                  html: textHtml
                }
              }
            ]
          }) }}

        


       
      

       

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    
    </div>
  </div>
{% endblock %}
