//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-masthead {
    width: 100%;
    background: #1d70b8;
    margin-top: -10px;
}

.govuk-masthead h1,
.govuk-masthead p,
.govuk-masthead a.govuk-back-link:link, 
.govuk-masthead .govuk-back-link:visited  {
    color: #ffffff;
}

.govuk-masthead .govuk-back-link:before {
    border-color: #ffffff;
}

[aria-sort] button.sort:before,
table .sortable th a::before {
content: " ▼";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: .5em;
}

table .sortable th a::after {
    content: " ▼";
        position: absolute;
        right: -1px;
        top: 9px;
        font-size: .5em;
    }


//// password toggle//////////////////////////////////////////////////////////////////////////////////////

.govuk-show-password__input-wrapper {
  display: table;
  display: flex;
  width: 100%;
  flex-direction: column
}

@media(min-width: 20em) {
  .govuk-show-password__input-wrapper {
      flex-direction:row
  }
}

.govuk-show-password__input-wrapper .govuk-input--with-password {
  display: table-cell
}

.govuk-show-password__input-wrapper .govuk-input--with-password:focus {
  z-index: 1
}

.govuk-show-password__input-wrapper .govuk-input--with-password::-ms-reveal {
  display: none
}

.govuk-show-password__toggle {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  z-index: 0;
  display: table-cell;
  padding: 5px 15px;
  min-width: 5.5em;
  color: #1d70b8;
  text-decoration: underline;
  background: #fff;
  border: solid 2px #0b0c0c;
  white-space: nowrap;
  cursor: pointer
}

@media print {
  .govuk-show-password__toggle {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .govuk-show-password__toggle {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .govuk-show-password__toggle {
      font-size: 14pt;
      line-height: 1.15
  }
}

@media(max-width: 19.99em) {
  .govuk-show-password__toggle {
      padding:5px;
      width: 100%;
      margin-top: -2px;
      white-space: normal
  }
}

@media(min-width: 20em) {
  .govuk-show-password__toggle {
      margin-left:-2px;
      margin-top: 0;
      margin-bottom: 0
  }
}

.govuk-show-password__toggle:hover {
  color: #003078
}

.govuk-show-password__toggle:focus {
  z-index: 1;
  background: #fd0;
  color: #0b0c0c;
  outline: 0
}

.govuk-show-password__toggle:active {
  z-index: 1;
  background: #fff;
  border-color: #fd0;
  color: #0b0c0c
}