{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="password" method="post" novalidate>
      

      
    
      <h1 class="govuk-heading-l">Set up an authenticator app</h1>

      <p class="govuk-body">1. Open your authenticator app on your smartphone, tablet or computer.</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don’t have an authenticator app
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can download an authenticator app for your smartphone or tablet from your app store.</p>

        </p>If you don’t have a smartphone or tablet, search online for an authenticator app for your computer.</p>

      </p>You can use any authenticator app.</p>
        </div>
      </details>

      <p>2. Use your authenticator app to scan the QR code or type the secret key into your authenticator app. Some authenticator apps call the secret key a 'code.</p>

      <img class="govuk-!-margin-bottom-4 govuk-!-margin-top-3" src="/public/images/qr-code.png"  alt="qr-code">
       


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot scan the QR code
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can enter the secret key into your authenticator app instead.</p>

          <p class="govuk-body">
            Secret key: 
            <span id="secret-key" class="govuk-body govuk-!-font-weight-bold govuk-!-display-block permit-reflow">UZ5T R7MN HXQD 5NSL HVIG HNW4 D47R OYGB</span>
          </p>

      </p>Some authenticator apps call the secret key a 'code'.</p>
        </div>
      </details>

      <p>3. The authenticator app will show a security code.</p>

      <p>4. Enter the security code.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
        Security code
        </label>
        <div id="account-number-hint" class="govuk-hint">
          This is the 6-digit number shown in your authenticator app
        </div>
        
        <input class="govuk-input govuk-input--width-10 govuk-!-font-weight-bold" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
        
        </div>



      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <p><a href="mfa-method">Get a code another way</a></a></p>
        

    </form>

         
        
    </div>
  </div>

  



{% endblock %}
