{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mfa-method-answer" method="post" novalidate>
      

      
    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="mfa-method-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Choose how to get security codes
            </h1>
          </legend>
          <div id="mfa-method-hint" class="govuk-hint">
            Choose a way to prove it’s you when you sign in.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="text" name="text" type="radio" value="text">
              <label class="govuk-label govuk-radios__label" for="mf-method">
                Text message
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="mfa-method-2" name="mfa-method" type="radio" value="app">
              <label class="govuk-label govuk-radios__label" for="mfa-method-2">
                Authenticator app for smartphone, tablet or computer
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is an authenticator app?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>

        </p>You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p>
        </div>
      </details>
      

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        

    </form>

         
        
    </div>
  </div>

  



{% endblock %}
