{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="activate-confirmation" method="post" novalidate>


          <h1 class="govuk-heading-l">Create your password</h1>

        <input type="hidden" name="_csrf" value="R5llNOhf-XOT-AHiIgPkphEHnEIHIHcEh0Wo">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Enter your password
          </label>
          <div id="password-hint" class="govuk-hint">
            It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers.
          </div>
        <div class="govuk-input__wrapper"><div class="govuk-show-password__input-wrapper"><input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" aria-autocomplete="list"><button class="govuk-show-password__toggle" aria-controls="password" type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span></div><span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('password', this)"></span><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span> 
        </div>
        </div>
        
            <div class="govuk-form-group">
              <label class="govuk-label" for="confirm-password">
                Re-type password
              </label>
              
              <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-input__wrapper">
                  <div class="govuk-show-password__input-wrapper"><input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="confirm-password" name="confirm-password" type="password" spellcheck="false" aria-describedby="confirm-password-hint" autocomplete="new-password" aria-autocomplete="list"><button class="govuk-show-password__toggle" aria-controls="confirm-password" type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span></div>
                  <span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('confirm-password', this)"></span>
                  <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                </div>
              </div>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to create a secure password
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
                <p class="govuk-body">You should use a password that you do not use for anything else.</p>
              </div>
            </details>

            <p class="govuk-body">By continuing, you confirm that you agree to our <a href="privacy-notice">privacy notice (opens in a new tab)</a>, which explains how we use your personal information.</p>

  
      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>
    <!--% include('/7-0-0/includes/help.html') %} -->

  </div>
</div>

{% endblock %}
