{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}

</div>
<div class="govuk-masthead govuk-!-padding-top-1 govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <h1 class="govuk-heading-xl">
    A design history for <br>
    Version {% include('../includes/version.html') %} of the Shared Signals UI
    prototype 
  </h1>
        <p>
          A record of how our service has iterated.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">


{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

  <span class="govuk-caption-l">{% include('../includes/date.html') %}</span>
<h1 class="govuk-heading-l">Version {% include('../includes/version.html') %}</h1>

      <p>This is the design story for the Shared Signals UI prototype {% include('../includes/version.html') %}.</p>
         
      <p>The main features of this initial prototype include:</p>
      {% include('../includes/summary.html') %}

      <li>Removed download journey</li>
      <li>Added sort and filter to view screens</li>
      <li>Added id details view</li>
      <li>Iterated upload journey with additional optional fields</li>
      <li>Iterated upload journey with updated event names</li>


      <h2 class="govuk-heading-m">Removed download journey</h2>
      <p>More info</p>
   
      <h2 class="govuk-heading-m">Added sort and filter to view screens</h2>
      <p>More info <a href="../add-reason">here</a>.</p>

      <h2 class="govuk-heading-m">Added id details view</h2>
      <p>More info <a href="../add-reason">here</a>.</p>

      <h2 class="govuk-heading-m">Iterated upload journey with additional optional field</h2>
      <p>More info <a href="../add-reason">here</a>.</p>

      <h2 class="govuk-heading-m">Iterated upload journey with updated event names</h2>
      <p>More info <a href="../add-reason">here</a>.</p>


    </div>

    <div class="govuk-grid-column-one-third">

      

    </div>
  </div>

  

  

{% endblock %}
