{% extends "layouts/main.html" %}




{% block beforeContent %}
</div>
<div class="govuk-masthead govuk-!-padding-top-1 govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <h1 class="govuk-heading-xl">
    
    User onboarding and account management
    
  </h1>
      </div>
    </div>
  </div>
</div>

<br>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          This prototype does not show all screen logic of the password reset journey. Refer to the Mural, linked below for detailed screen logic.
        </strong>
      </div>

  <h2 class="govuk-heading-l">Lead user account activation</h2>

  <a href="/7-0-0/account-management/password-reset/login" class="govuk-button" data-module="govuk-button">
    Start prototype
  </a>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Screen</th>
            <th scope="col" class="govuk-table__header">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/password-reset/login">Sign in</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">No changes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/mfa-activate">Check your phone</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">New screen</strong>
              <p class="govuk-body">same as phone MFA screen for sign in, but added 'use different phone number' link</p>
            </td>
          </tr>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/reset">Reset your password</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">No changes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/super-admin-activate/activate-confirmation">You have activated your account</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/super-admin-activate/task">Task screen</a></td>
            <td class="govuk-table__cell"><p class="govuk-body">
                Added 'manage users section' for team lead and admins</p>
            
          </tr>
        </tbody>
      </table>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Screen</th>
            <th scope="col" class="govuk-table__header">Changes from MVP</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Sign in screen</a></td>
            <td class="govuk-table__cell"><p class="govuk-body">Changes include:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>added reset password link</li>
                <li>changes to content</li>
              </ul></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">What is your government email address?</a></td>
            
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Check your email</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
              New screen
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Check your phone</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Rest your password</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Your password has been reset</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>



      <h2 class="govuk-heading-l">Super admin user invites user via UI</h2>

      <a href="/7-0-0/account-management/password-reset/login" class="govuk-button" data-module="govuk-button">
        Start prototype
      </a>
  
          

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Screen</th>
            <th scope="col" class="govuk-table__header">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/password-reset/login">Manage users</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">What level of access?</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Enter their email address</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/mfa-activate">Invitation sent</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">New screen</strong>
              <p class="govuk-body">same as phone MFA screen for sign in, but added 'use different phone number' link</p>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>

      <br>
      <br>

      <h2 class="govuk-heading-l">User account activation</h2>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Screen</th>
            <th scope="col" class="govuk-table__header">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/mfa-activate">Check your email</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">New screen</strong>
              <p class="govuk-body">same as phone MFA screen for sign in, but added 'use different phone number' link</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/mfa-activate">Check your phone</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">New screen</strong>
              <p class="govuk-body">same as phone MFA screen for sign in, but added 'use different phone number' link</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="super-admin-activate/mfa-activate">Check your phone</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">New screen</strong>
              <p class="govuk-body">same as phone MFA screen for sign in, but added 'use different phone number' link</p>
            </td>
          </tr>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/login">Reset your password</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">No changes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/super-admin-activate/activate-confirmation">You have activated your account</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New screen</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/7-0-0/account-management/super-admin-activate/task">Task screen (with lead user permissions)</a></td>
            <td class="govuk-table__cell"><p class="govuk-body">Changes include:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>added 'manage users section' for team lead and admins</li>
              </ul></td>
          </tr>
        </tbody>
      </table>



      </div>
      </div>


     


{% endblock %}
