{% extends "layouts/main.html" %}

{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/7-0-0/account-management/super-admin-create-admin/email" method="post" novalidate>

      
    
     
        <h1 class="govuk-heading-l">Manage users in your organisation</h1>


        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="/login">
          Invite a team member
          </button>

          

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                john.doe@example.gov.uk (you)
              </dt>
              <dd class="govuk-summary-list__value">
                Lead user
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                jane.doe@example.gov.uk
              </dt>
              <dd class="govuk-summary-list__value">
                Admin
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> date of birth</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                joe.bloggs@example.gov.uk
              </dt>
              <dd class="govuk-summary-list__value">
                Standard user
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> address</span></a>
              </dd>
            </div>
          </dl>


          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                john.doe@example.gov.uk (you)
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                jane.doe@example.gov.uk
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> date of birth</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                joe.bloggs@example.gov.uk
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> address</span></a>
              </dd>
            </div>
          </dl>

              <h2 class="govuk-heading-s">john.doe@example.gov.uk (you)</h2>
              <p class="govuk-body">Lead user</p>
          
              
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          
           
              <h2 class="govuk-heading-s">jane.doe@example.gov.uk</h2>
              <p class="govuk-body">Admin</p>
              <p class="govuk-body"><a href="delete">Remove user</a></p>        
              
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          
              
                <h2 class="govuk-heading-s">paul.paulsen@example.gov.uk</h2>
                <p class="govuk-body">Admin</p>
                <p class="govuk-body"><a href="delete">Remove user</a></p>         
            
          
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <hr class="govuk-section-break govuk-section-break--l">


          <h2 class="govuk-heading-m">Pending invitations</h2>

          <h2 class="govuk-heading-s">john.doe@example.gov.uk (you)</h2>
              <p class="govuk-body">Standard user</p>
              <p class="govuk-body"><a href="delete">Remove user</a></p>  
              
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

         
        </form>
    </div>
  </div>

  



{% endblock %}
