{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}

{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
      <form action="/7-0-0/account-management/super-admin-create-admin/email" method="post" novalidate>

      
    
     
        <h1 class="govuk-heading-l">Manage users in your organisation</h1>


        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="/login">
          Invite a team member
          </button>


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Username</th>
                <th scope="col" class="govuk-table__header">Access level</th>
                <th scope="col" class="govuk-table__header">Action</th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <caption class="govuk-table__caption govuk-table__caption--m">Active users</caption>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">john.doe@example.gov.uk (you)</td>
                <td class="govuk-table__cell">Super admin</td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>


         
        </form>
    </div>
  </div>

  



{% endblock %}
