{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}



{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="manage-users-removed" method="post" novalidate>



          <h1 class="govuk-heading-l">Are you sure you want to remove name@example.gov.uk?</h1>

          <p>They will no longer have access to this service.</p>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
              Remove user
            </button>
            <a class="govuk-link" href="manage-users">Keep user</a>
          </div>
      
    </form>


  </div>
</div>

{% endblock %}
