{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}

</div>
<div class="govuk-masthead govuk-!-padding-top-1 govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <h1 class="govuk-heading-xl">
    A design history for <br>
    Version {% include('../includes/version.html') %} of the Shared Signals UI
    prototype 
  </h1>
        <p>
          A record of how our service has iterated.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">


{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

  <span class="govuk-caption-l">{% include('../includes/date.html') %}</span>
<h1 class="govuk-heading-l">Version {% include('../includes/version.html') %}</h1>

      <p>This is the design story for the Shared Signals UI prototype {% include('../includes/version.html') %}.</p>
         
      <p>This iteration contains some significant changes, based on early insight from internal users. The main features of this initial prototype include:</p>
      {% include('../includes/summary.html') %}

      <h2 class="govuk-heading-m">MVP+ View</h2>
      <p>We've drafted an initial MVP journey based on early user insights, requirements and constraints. We will continue to test this as well as post MVP functioanlity that is emerging from user needs. The MVP functioanlity stays true to the strategic automated solution, allowing user to download (receive) and add (transmit) fraud shared signals.</p>
      <p><a href="../?release-state=MVP2">View MVP+ view journey</a></p>



      <h2 class="govuk-heading-m">Iterated event pages</h2>
      <p>Supporting hint content was added to the events that users struggled to understand. Also looked to mage the intervention question be more passive, as the question doesn't neccassarily trigger an intervention.</p>
      <p><a href="../add-reason">View reason page</a></p>


<!-- 
      <h2 class="govuk-heading-m">Refined MVP</h2>
      <p>Expand on this</p>
      <p><a href="../?release-state=MVP">View MVP journey</a></p> -->

       <h2 class="govuk-heading-m">Iterate add journey</h2>

      <p>In this version we explored allowing users to add event details before adding user IDs.</p>
      <p>An assumption is that user will have more of an understanding that they are adding IDs to a specific event and if they need to add more events to IDs they would do that in a new action.</p>
      <h2 class="govuk-heading-m">Upload single</h2>
      <p>Earlier on in the design we explored adding user IDs singularly, however it didn't test well. After a design crits session I was reminded of this approach might have merit in reducing cognitive load.</p>

      <h2 class="govuk-heading-m">Confirmation screen</h2>
      <p>Updated the confirmation screen to give user information around next steps and time scales.</p>
      <p><a href="../confirmation">View confirmation</a></p>

      <h2 class="govuk-heading-m">Download confirm</h2>
      <p>Explored use of checkbox to avoid the use of the assitional kick out screen. Users understood the approach but did express an expectation that selecting no would return the user back to the task screen.</p>

      <h2 class="govuk-heading-m">Time stamp</h2>
      <p>Explored use of time stamp... still more work to do. I wonder if a simple notification would be more useful. We will lok to test this and time stamp to understand its value, and answer the user need around understainging when new information has been added.</p>

      <h2 class="govuk-heading-m">Multiple submission handling MVP</h2>
      <p>An unhappy path was realised, that needed addressing. When users submit fraud information that matches a previously submitted fraud shared signal, we need to mitigate the risk around duplication of data stored. We will look to test this approach with users in coming research sessions.</p>
      <p><a href="../cya?source=Suspected stolen account">View handling of multiple submissions.</a></p>

      <h2 class="govuk-heading-m">Multiple submissions</h2>
      <p>Designed for the unhappy path of user resubmittign the same information within a 30 day period. </p>
      

      <p><a href="../add-are-you-sure?adddupe=Yes">View are you sure page to handle multiple submissions.</a></p>


     

      <h2 class="govuk-heading-m">To do</h2>
    <ul class="govuk-list--bullet govuk-list">

      <li>Sign out</li>
      <li>Hint for events/source and method</li>
      
    </ul>

   

      


    </div>

    <div class="govuk-grid-column-one-third">

      

    </div>
  </div>

  

  

{% endblock %}
