{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}

</div>
<div class="govuk-masthead govuk-!-padding-top-1 govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <h1 class="govuk-heading-xl">
    A design history for the Shared Signals UI prototype 
  </h1>
        <p>
          A record of how our service has iterated.<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">


{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

  <span class="govuk-caption-l">{% include('../includes/date.html') %}</span>
<h1 class="govuk-heading-l">Password reset</h1>

         
      <p>The main features of this release include:</p>
      {% include('../includes/summary.html') %}

      <br>


      <h2 class="govuk-heading-m">Background</h2>

      <p>The password reset journey has been designed for SSF UI users to reset their password, using a ‘I have forgotten my password’ link on the sign in screen. The designs created match the existing password reset pattern in the public facing screens of GOV UK One Login.</p>


      <h3 class="govuk-heading-s">Impoved security for mfa codes and sign in</h3>
      <p>New unhappy path screens have been introduced if a user has entered sign in details, an MFA or OTP, too many times, which apply a temporary block onto the account for 15 minutes - to align to GOV.UK One Login public facing</p>


     

      <h2 class="govuk-heading-m">To do</h2>
    <ul class="govuk-list--bullet govuk-list">
      <li>Future scope - look at ways for users to change their 2FA, if they lose access to their phone number</li>
      <li>Test password reset journey with Fraud analysts</li>
    </ul>



    </div>

    <div class="govuk-grid-column-one-third">

      

    </div>
  </div>

  

  

{% endblock %}
