{% extends "layouts/main.html" %}
{% block header %}

{% include('./includes/header-fai-mai.html') %}
{% endblock %}

{% block pageTitle %}
Submit manual account intervention – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Manual account intervention details</h1>
      <form action="cya-mai" method="post" novalidate>

        <div class="govuk-form-group">
          <label class="govuk-label" for="account-number">
            User ID
          </label>
          <div id="account-number-hint" class="govuk-hint">
            For example, URN502135326
          </div>

          {% if (data['user-id'] == false) %}
          <input class="govuk-input govuk-input--width-30" id="user-id" name="user-id" type="text">


          {% else %}
          
          <input class="govuk-input govuk-input--width-30" id="user-id" name="user-id" type="text" value="{{ data['user-id'] }}">

          {% endif %}


        </div>

        {% if (data['fraud-admin-state'] == "case") %}

      


        
        <div class="govuk-form-group">
          <label class="govuk-label" for="account-number">
            Case reference or URL
          </label>
          <div id="account-number-hint" class="govuk-hint">
            You can find it on xxx, yyy or zzz
          </div>

          {% if (data['user-id'] == false) %}
          <input class="govuk-input govuk-input--width-20" id="case-reference" name="case-reference" type="text">


          {% else %}
          
          <input class="govuk-input govuk-input--width-20" id="case-reference" name="case-reference" type="text" value="{{ data['case-reference'] }}">

          {% endif %}


        </div>
        {% endif %}

         
          <!-- <div class="govuk-form-group">

            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="user-id">
                What is the user ID? 
              </label>
            </h2>
        
            <div id="user-id-hint" class="govuk-hint">
              For example, URN502135326
              </div>
    
              {% if (data['user-id'] == false) %}
              <input class="govuk-input govuk-input--width-30" id="user-id" name="user-id" type="text">
    
    
              {% else %}
              
              <input class="govuk-input govuk-input--width-30" id="user-id" name="user-id" type="text" value="{{ data['user-id'] }}">
    
              {% endif %}
    
    
          </div> -->



          <div class="govuk-form-group">

            <!-- <label class="govuk-label" for="user-id">
              What is the intervention type?
                   </label> -->
      
                   <label class="govuk-label" for="account-number">
                    Intervention type
                  </label>
               


          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {% if (data['user'] == "admin") %}

          {{ govukRadios({
            name: "intervention",
            fieldset: {
           
            },
       
          items: [
    

          {
            value: "Reset password",
            text: "Reset password",
            hint: {
              text: "Apply a 'reset password' to a user on their next login"
            }
          },
          {
            value: "Reverify identity",
            text: "Reverify identity",
            hint: {
              text: "Apply a 'reverify identity' to user on their next Login"
            }
          },
          {
            value: "Reset password and reverify identity",
            text: "Reset password and reverify identity",
            hint: {
              text: "Apply a 'reset password' and 'reverify identity' to user on their next login. These may happen as separate events"
            }
          },

            
        {
          value: "Temporary suspension",
          text: "Temporary suspension",
          hint: {
            text: "Apply a 'temporary suspension' to a user. This means they will not be able to Login"
          }
        },

        {
          value: "Unsuspend temporary suspension",
          text: "Unsuspend temporary suspension",
          hint: {
            text: "This removes a 'temporary suspension', 'reset password', reverify identity' and the 'paired reset password and reverify identity' from a users account."
          }
        },

        

          {
            value: "Indefinite suspension",
            text: "Indefinite suspension",
            hint: {
              text: "Apply an 'indefinite suspension' to a user so they can not login again"
            }
          },
          
          {
            value: "Unsuspend indefinite suspension",
            text: "Unsuspend indefinite suspension",
            hint: {
              text: "This action removes an 'indefinite suspension' from a user's account"
            }
          }

          ]
        }) }}
        {% else %}



          {{ govukRadios({
            name: "intervention",
            fieldset: {
           
            },
       
          items: [
    

          {
            value: "Reset password",
            text: "Reset password",
            hint: {
              text: "Apply a 'reset password' to a user on their next login"
            }
          },
          {
            value: "Reverify identity",
            text: "Reverify identity",
            hint: {
              text: "Apply a 'reverify identity' to user on their next Login"
            }
          },
          {
            value: "Reset password and reverify identity",
            text: "Reset password and reverify identity",
            hint: {
              text: "Apply a 'reset password' and 'reverify identity' to user on their next login. These may happen as separate events"
            }
          },
          {
            value: "Temporary suspension",
            text: "Temporary suspension",
            hint: {
              text: "Apply a 'temporary suspension' to a user. This means they will not be able to Login"
            }
          }
          ]
        }) }}

        


      
        {% endif %}





      

      </div>
        

        
   

  

      





        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}