{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
Enter the User IDs– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% if (data['reason'] == "Users who passwords may have been compromised")  %}
      <form action="source-id-fraud" method="post" novalidate>

      {% else %}
      <form action="reason-id-fraud" method="post" novalidate>

      {% endif %}


        {% if (data['reason'] == "Users that have been blocked") or (data['reason'] == "Users that have been unblocked") or (data['reason'] == "Users who passwords may have been compromised") or
        (data['release-state'] == "MVP")  %}

        

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="user-id">
              <!-- What is the GOV.UK One Login identifier?  -->
              What is the user Uniform Resource Name (URN)?
              <!-- Enter the auth provider ID -->

            </label>
          </h1>
          <div id="user-id-hint" class="govuk-hint">
         For example,<br>
         urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=, 
          </div>
          <textarea class="govuk-textarea" id="user-id" name="user-id" rows="5" aria-describedby="user-id-hint"></textarea>
        </div>





        {% else %}
       


        {% from "govuk/components/radios/macro.njk" import govukRadios %}



        {{ govukRadios({
          name: "id-type",
          fieldset: {
            legend: {
              text: "What type of user information are you sharing?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
      
           items: [

            {
              value: "GOV.UK One Login identifier",
              text: "GOV.UK One Login identifier"
            },
            {
              value: "IP Address",
              text: "IP Address"
            },
            {
              value: "Email Address",
              text: "Email Address"
            },
            {
              value: "Passport Number",
              text: "Passport Number"
            },
 
            {
              value: "Driving Licence Number",
              text: "Driving Licence Number"
            },
            {
              value: "Biometric Residency Permit Number",
              text: "Biometric Residency Permit Number"
            },
            {
              value: "National Insurance Number",
              text: "National Insurance Number"
            }
          ]
        }) }}



              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m" for="user-id">
                    Enter the user information
                    <!-- Enter the auth provider ID -->

                  </label>
                </h1>
                <div id="user-id-hint" class="govuk-hint">
                  Please enter all entries, separated by a comma (,) 
                  <br>For example, 502135326, 96879212
                </div>
                <textarea class="govuk-textarea" id="user-id" name="user-id" rows="5" aria-describedby="user-id-hint"></textarea>
              </div>


        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with GOV.UK One Login identifiers
            </span>
          </summary>
          <div class="govuk-details__text">
            Supporting content letting the user know how to get hold of a URN if they need suppport.
          

          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with adding multiple identifiers
            </span>
          </summary>
          <div class="govuk-details__text">

       
            Please enter all user URNs, separated by a comma (,) <br>

            For example,<br>
            urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=, urn:fdc:gov.uk:2023:56P4CMsGh_02Y9PWpd8PAOI-2sVlB2nsNU7mcLZYhOw= 
          
    
          </div>
        </details>

      </form>
    </div>
  </div>
{% endblock %}