{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manual account intervention",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
Submit manual account intervention – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Submit a manual account intervention</h1>
      <p></p>

      <form action="cya-mai" method="post" novalidate>


         
          <div class="govuk-form-group">

            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="user-id">
                What is the One Login subject ID? 
              </label>
            </h2>
            <!-- <label class="govuk-label" for="user-id">
              What is the One Login subject ID? 
                   </label> -->
            <div id="user-id-hint" class="govuk-hint">
              For example, 502135326
              </div>
    
              {% if (data['user-id'] == false) %}
              <input class="govuk-input govuk-input--width-20" id="user-id" name="user-id" type="text">
    
    
              {% else %}
              
              <input class="govuk-input govuk-input--width-20" id="user-id" name="user-id" type="text" value="{{ data['user-id'] }}">
    
              {% endif %}
    
    
          </div>



          <div class="govuk-form-group">

            <!-- <label class="govuk-label" for="user-id">
              What is the intervention type?
                   </label> -->
      

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {% if (data['user'] == "admin") %}

          {{ govukRadios({
            name: "intervention",
            fieldset: {
              legend: {
                text: "What is the intervention?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
       
          items: [
    

            
        {
          value: "Temporary Suspension",
          text: "Temporary Suspension",
          hint: {
            text: "Supporting content to inform the user of the impact on the user"
          }
        },

        {
          value: "Unsuspend Temporary Suspension",
          text: "Unsuspend Temporary Suspension",
          hint: {
            text: "Supporting content to inform the user of the impact on the user"
          }
        },

        

          {
            value: "Indefinite Suspension",
            text: "Indefinite Suspension",
            hint: {
              text: "Supporting content to inform the user of the impact on the user"
            }
          },
          
          {
            value: "Unsuspend Indefinite Suspension",
            text: "Unsuspend Indefinite Suspension",
            hint: {
              text: "Supporting content to inform the user of the impact on the user"
            }
          }

          ]
        }) }}
        {% else %}


        {{ govukRadios({
          name: "intervention",
          fieldset: {
            legend: {
              text: "What is the intervention?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
  
        items: [
  


        
      


        {
        value: "Reset Password",
        text: "Reset Password",
        hint: {
          text: "Supporting content to inform the user of the impact on the user"
        }
      },
      {
        value: "Reverify Identity",
        text: "Reverify Identity",
        hint: {
          text: "Supporting content to inform the user of the impact on the user"
        }
      },
      {
        value: "Reset Password and Reverify Identity",
        text: "Reset Password and Reverify Identity",
        hint: {
          text: "Supporting content to inform the user of the impact on the user"
        }
      }


        ]
      }) }}
        {% endif %}


      </div>
        

        
   

  

      





        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}