{% extends "layouts/main.html" %}

{% block header %}
{% if (data['task'] == "hashed") %}
{% include('./includes/header-fai-hashed.html') %}

{% else %}
{% include('./includes/header-fai-mai.html') %}

{% endif %}

{% endblock %}

{% block pageTitle %}
Confirmation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      {% if (data['task'] == "hashed") %}
       
      {{ govukPanel({
        titleText: "Hashed data created",
        html: ""
      }) }}




      {% else %}
     
   
      {{ govukPanel({
        titleText: "Account intervention submitted",
        html: ""
      }) }}

      <p>We've sent your account intervention to ???. </p>


      {% endif %}
  
      {% if (data['task'] == "hashed") %}

      {{ govukInput({
        label: {
          text: "Your hashed data",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Copy the data to use use in other tools"
        },
        id: "hashed-data",
        name: "hashed-data",
        disabled: true,
        value: "**************",
        classes: "govuk-input--width-30"
      }) }}

        {{ govukButton({
          text: "Copy hashed data"
        }) }}

        {% endif %}



      <h2 class="govuk-heading-m">
        What happens next
      </h2>
    
      {% if (data['task'] == "mai") %}

      <p>You should see the information in [tool] within the next 24 hrs.</p>
      {% endif %}

      <p>
        You can return back to <a href="fraud-admin-interface">the GOV.UK One Login Fraud Admin Interface</a>.
      </p>

  
    </div>
  </div>

{% endblock %}
