{% extends "layouts/main.html" %}

{% block header %}
{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What type of fraud information do you want to download?– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['release-state'] == "MVP") %}
      <form action="get-are-you-sure" method="post" novalidate>
        <!-- <form action="add-ids?task=getinfo" method="post" novalidate> -->

      {% else %}
      <form action="view-information" method="post" novalidate>

      {% endif %}


      <!-- {% if (data['task'] == "viewinfo") %}
      <form action="view-information" method="post" novalidate>
        {% else %}
      <form action="get-options" method="post" novalidate>
      {% endif %} -->
        <!-- Change content for all -->
        {% set question = "What type of fraud information do you want to download?" %}
  

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



        <h1 class="govuk-heading-l">{{question}}</h1>
        {% if (data['task'] != "viewinfo") %}
        <p>You can download a .csv file with information about different types of fraud-related events from GOV.UK One Login and the services that use it.</p>
        {% endif %}



{{ govukCheckboxes({
  name: "get-reasons",
  fieldset: {
 
  },
  
  hint: {
    text: "Select all that apply."
  },




  items: [

  {
    value: "Users that GOV.UK One Login suspects of committing fraud",
    text: "Users that GOV.UK One Login suspects of committing fraud (including users under investigation)"
  },

  {
    value: "Users that have been blocked",
    text: "Users that have been blocked from accessing GOV.UK One Login or another service"
  },

  {
    value: "Users that have been unblocked",
    text: "Users that have been unblocked from accessing GOV.UK One Login or another service"
  },


  {
    value: "Password compromised",
    text: "Users whose GOV.UK One Login may have been compromised"
  }
]
}) 
}}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      {% include('./includes/help.html') %}      


    </div>

    
  </div>
{% endblock %}



