{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="confirmation" method="post" novalidate>


          <h1 class="govuk-heading-l">You cannot sign in at the moment</h1>
          <p class="govuk-body">This is because you entered the wrong password more than 5 times the last time you tried to sign in. This is to keep your account secure.</p>

          <h2 class="govuk-heading-m">What next</h2>

          <p class="govuk-body">You can</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>wait 15 minutes and <a href="login">try to sign in again</li>
            <li><a href="email">reset your password</a></li>
          </ul>
          
          
          

     
    </form>
  </div>
</div>

{% endblock %}
