{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="mfa" method="post" novalidate>


          <h1 class="govuk-heading-l">Get security code</h1>

          <div class="govuk-inset-text">

            We will send code to your phone number ending with  <span class="govuk-!-font-weight-bold">365</span>
            
            </div>
          <p class="govuk-body">Text messages can sometimes take a few minutes to arrive.</p>


<button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Get security code
  </button>

     
    </form>
  </div>
</div>

{% endblock %}
