{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}



{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="cya" method="post" novalidate>

          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Enter a different email address, an account already exists</a>
                  </li>
                  <li>
                    <a href="#">Select the access level</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

      <h1 class="govuk-heading-l">
        Invite a team member
      </h1>

<!-- <p>If you do not have an account yet, you can <a href="">[create one]</a></p> -->
    <!-- <form action="/mfa" method="post" novalidate> -->
      <p>We will email them an invitation link to join the service.</p>


      {% from "govuk/components/input/macro.njk" import govukInput %}

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="invite-email">
          Government email address
        </label>
        <p id="access-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter a different email address, an account already exists
        </p>
        <input class="govuk-input govuk-input--width-20" id="invite-emmail" name="invite-email" type="text">
      </div>
  

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Access level
            </legend>
          </legend>
          <p id="access-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select the access level
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="access" name="access" type="radio" value="Standard">
              <label class="govuk-label govuk-radios__label" for="access">
                Share and download
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="access-2" name="access" type="radio" value="Download only">
              <label class="govuk-label govuk-radios__label" for="access-2">
                Download
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>


  </div>
</div>

{% endblock %}
