{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}

</div>
<div class="govuk-masthead govuk-!-padding-top-1 govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <h1 class="govuk-heading-xl">
    A design history for <br>
    {% include('../includes/version.html') %} of the Shared Signals UI
    prototype 
  </h1>
        <p>
          A record of how our service has iterated.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">


{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

  <span class="govuk-caption-l">{% include('../includes/date.html') %}</span>
<h1 class="govuk-heading-l">{% include('../includes/version.html') %}</h1>

      <p>This is the design story for the Shared Signals UI prototype {% include('../includes/version.html') %}.</p>
      <p>The main features of this initial prototype include:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
        <li>Initial download journey created</li>
        <li>Iterated upload journey</li>
        <li>Iterated previous uploaded information screens</li>
        <li><a class="govuk-link" href="/2-0-0/design-history/">View design history<span class="govuk-visually-hidden"> design history</span></a>
        </li>
      </ul>
      
      <p>More content to follow.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      

    </div>
  </div>

  

  

{% endblock %}
