{% extends "layouts/main.html" %}

{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/7-0-0/account-management/super-admin-create-admin/email" method="post" novalidate>

      
    
     
        <h1 class="govuk-heading-l">Manage users in your organisation</h1>


        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="/login">
          Invite a team member
          </button>


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Username</th>
                <th scope="col" class="govuk-table__header">Access level</th>
                <th scope="col" class="govuk-table__header">Action</th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <caption class="govuk-table__caption govuk-table__caption--m">Active users</caption>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">john.doe@example.com (you)</td>
                <td class="govuk-table__cell">Super admin</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">alex.bloggs@example.gov.uk</td>
                <td class="govuk-table__cell">Admin</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">carrie.bloggs@example.com</td>
                <td class="govuk-table__cell">Admin</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">joe.bloggs@example.com</td>
                <td class="govuk-table__cell">Admin</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Standard</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Download only</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Download only</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">paul.paulsen@example.com</td>
                <td class="govuk-table__cell">Download only</td>
                <td class="govuk-table__cell"><a href="delete">Remove user</a></td>
              </tr>
                
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Pending invitations</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Username</th>
                <th scope="col" class="govuk-table__header">Access level</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">adam.bloggs@example.com</td>
                <td class="govuk-table__cell">Admin</td>
                <td class="govuk-table__cell"><a href="delete">Withdraw invite</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">bea.bloggs@example.com</td>
                <td class="govuk-table__cell">Share and download</td>
                <td class="govuk-table__cell"><a href="delete">Withdraw invite</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">carrie.bloggs@example.com</td>
                <td class="govuk-table__cell">Download</td>
                <td class="govuk-table__cell"><a href="delete">Withdraw invite</a></td>
              </tr>
            </tbody>
          </table>

         
        </form>
    </div>
  </div>

  



{% endblock %}
