{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check the details before sending the invitation email</h1>
      <!-- <h2 class="govuk-heading-m">Personal details</h2> -->
 
  

    

    <dl class="govuk-summary-list govuk-!-margin-bottom-3">



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['invite-email'] == null) %}
          name@example.gov.uk
          {% else %}
          {{ data['invite-email'] }}
          {% endif %}

      

        </dd>
        <dd class="govuk-summary-list__actions">
   
        
        </dd>
      </div>

    

     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Access level
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['access'] == null) %}
          Admin
          {% else %}
          {{ data['access'] }}
          {% endif %}

        
        </dd>
        <dd class="govuk-summary-list__actions">
     
        </dd>
      </div>



    </dl>
   
<p class="govuk-!-margin-bottom-6">
    <a class="govuk-link" href="invite-user">
      Change details<span class="govuk-visually-hidden"> ids</span>
  </a>
</p>
      

      

      


      {% from "govuk/components/button/macro.njk" import govukButton %}



  
      <form action="invite-confirmation" method="post" novalidate>

      

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Send invitation email"
        }) }}

        <a class="govuk-link" href="/7-0-0/account-management/manage-users">Cancel</a>
      </div>
    </form>

      

    


    
      
    </div>
   

  </div>
{% endblock %}
