{% extends "layouts/main.html" %}

{% block header %}
{% if (data['task'] == "hashed") %}
{% include('./includes/header-fai-hashed.html') %}

{% else %}
{% include('./includes/header-fai-mai.html') %}

{% endif %}

{% endblock %}

{% block pageTitle %}
Confirmation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
      {% if (data['task'] == "hashed") %}
       
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Hashed data created for
        </h1>
        <div class="govuk-panel__body">
            {% if (data['hashed-data'] == false) %}
            test.user@digital.cabinet-office.gov.uk
            {% else %}
            {{ data['hashed-data'] }}
            {% endif %}
     
        </div>
      </div>

      {% else %}
     
   
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Account intervention submitted
        </h1>
        <div class="govuk-panel__body">
    
        </div>
      </div>



      <!-- <p>We've sent your account intervention to ???. </p> -->


      {% endif %}
  
      {% if (data['task'] == "hashed") %}




        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="event-name">
              Your hashed data
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Copy the data to use use in other tools
          </div>
          <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" disabled value="9876545876567890" type="text">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Copy hashed data
          </button>
        </div>


        {% endif %}





      
    
      {% if (data['task'] == "mai") %}

      <p>Account intervention submitted</p>
      {% endif %}
      {% if (data['task'] == "hashed") %}
      <p>
        <h2 class="govuk-heading-m">
          What happens next
        </h2> 

        <p>You can <a href="add-hashed-data?task=hashed">request more hashed information</a> or return back to <a href="fraud-admin-interface">the GOV.UK One Login Fraud Admin Interface</a>.</p>
      </p>
      {% else %}
      <p>
        You can return back to <a href="fraud-admin-interface">the GOV.UK One Login Fraud Admin Interface</a>.
      </p>
      {% endif %}

    

  
    </div>
  </div>

{% endblock %}
