{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="get-are-you-sure" method="post" novalidate>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Which types of information do you want to download?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  hint: {
    text: "Select all that apply."
  },


  items: [
  {
    value: "accounts",
    text: "Account related"
  },
  {
    value: "identifier",
    text: "Identifier changed or recylced"
  },
  {
    value: "credential",
    text: "Credential comprimised"
  },
  {
    value: "optin",
    text: "Account Opted in or out from RISC exchanges"
  },

  {
    value: "recovery",
    text: "Recovery requested or information changed"
  }
  ]
}) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}