{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if (data['upload-state'] == "uploadsingleoff") %}
        <form action="add-ids" method="post" novalidate>
        {% else %}
      <form action="id-multiple" method="post" novalidate>
        {% endif %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        {{ govukRadios({
          name: "reason",
          fieldset: {
            legend: {
              text: "What has happened to the identifier?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
  
           items: [
            {
              value: "identifier changed",
              text: "Identifier changed"
            },
            {
              value: "identifier changed",
              text: "Identifier reused"
            }
          ]
        }) }}




        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}