{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="task" method="post" novalidate>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Prototype setup</h1>

        <div id="setup-hint" class="govuk-hint">
          Setup the prototype based on product milestone
        </div>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}





{{ govukRadios({
  name: "upload-state",
  fieldset: {
    legend: {
      text: "Upload functionality",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
 
   items: [
   {
    value: "uploadfileoff",
    text: "Upload file off"
  },
   {
    value: "uploadsingleoff",
      text: "Upload single off"
    }

  ]
}) }}




        {{ govukRadios({
          name: "download-state",
          fieldset: {
            legend: {
              text: "Download functionality",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
         
           items: [
           {
            value: "downloadoff",
            text: "Download off"
          },

            {
              value: "downloadtailored",
              text: "Tailored subscription"
            }
  
          ]
        }) }}



        {{ govukRadios({
          name: "view-state",
          fieldset: {
            legend: {
              text: "View information",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
         
           items: [
            {
              value: "yes",
              text: "View information on"
            }
  
          ]
        }) }}

        {{ govukRadios({
          name: "view-submission-history",
          fieldset: {
            legend: {
              text: "Submission history",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
         
           items: [
  
            {
              value: "yes",
              text: "Submission history on"
            },
            {
              value: "submission-failed",
              text: "Show failed submission"
            }
  
          ]
        }) }}


        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}