{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Add information by uploading a file
      </h1>

      <form class="form" action="add-more?file-upload=true" method="post">

        <p>
          You can add information by uploading a file, following the <a href="#">guidance on how to format the file
          </a> (opens in a new tab).
          
        </p>

        <!-- <div id="upload-hint" class="govuk-hint">
          For example, 31 3 1980
        </div> -->


        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "fileUpload1",
  label: {
    text: "Upload a file"
  }
}) }}





        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
