{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check the details before sending your information</h1>

      <div class="govuk-inset-text">
       
        This submission was unable to be added to One Login on 
        {% if (data['date'] == null) %}
        02 October 2023
        {% else %}
      
        {{ data['date'] }}
        {% endif %} due to a server issue. You can resubmit the information below.

    

      </div>

      {% if (data['view-submission-history'] == "post-mvp-submission") %}
      <div class="govuk-inset-text">

      Some of the data had errors, please see guidance for more information.
    </div>
      {% endif %}

 
      <!-- <h2 class="govuk-heading-m">File details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      File upload
    </dt>
    <dd class="govuk-summary-list__value">


      {% if (data['file-upload'] == "true") %}

      rp-upload465.csv



      {% endif %}
     

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="upload-file">
        Change<span class="govuk-visually-hidden"> file</span>
      </a>
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-m">File contents</h2> -->



<dl class="govuk-summary-list govuk-!-margin-bottom-9">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Submission date
    </dt>
    <dd class="govuk-summary-list__value">
      
      {% if (data['date'] == null) %}
      02 October 2023
      {% else %}
    
      {{ data['date'] }}
      {% endif %}
      
    </dd>
    <dd class="govuk-summary-list__actions">

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Credentials comprimised
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="reason">
        Change<span class="govuk-visually-hidden">reason</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
       joeblogs165683 <br>
       joeblogs87683 <br>
       joeblogs87654383 <br>
       joeblogs87383

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-ids">
        Change<span class="govuk-visually-hidden"> ids</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Account suspended
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="reason">
        Change<span class="govuk-visually-hidden">reason</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
       claireahmeed165683 <br>
       claireahmeed87654383 <br>
       claireahmeed8765438387383

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-ids">
        Change<span class="govuk-visually-hidden"> ids</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Identifier changed 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="reason">
        Change<span class="govuk-visually-hidden">reason</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
       Vikhbentley87678987<br>
       Vikhbentley87654383 <br>
       Vikhbentley8765432383 <br>
       Vikhbentley8765438387383

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-ids">
        Change<span class="govuk-visually-hidden"> ids</span>
      </a>
    </dd>
  </div>



</dl>

<!-- 
      <h2 class="govuk-heading-m">Now send your information</h2>
      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      -->
      <form action="confirmation" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>
      </form>
    </div>

  </div>
{% endblock %}
