{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Previous submissions to One Login
    </h1>

    <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2> -->
    <p class="govuk-body govuk-!-margin-bottom-7">Showing all submissions using the ID rp@digital.rpdept.gov.uk.</p>


    {% if (data['view-submission-history'] == "submission-failed") %}

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "You have submissions that were unable to be added to One Login. You will need to resubmit them."
      }) }}

      {% endif %}


    <ul class="govuk-prototype-kit-task-list">
      <li>
        <h2 class="govuk-prototype-kit-task-list__section">
          Prepare application
        </h2>
        <ul class="govuk-prototype-kit-task-list__items govuk-body govuk-!-padding-left-0">
          {% if (data['view-submission-history'] == "submission-failed") %}
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="add-failed-cya" aria-describedby="submission-date">
                02 October 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--red govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Rejected</strong>
          </li>
          {% else %}
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="#" aria-describedby="submission-date">
                02 October 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submission-date">Completed</strong>
          </li>
          {% endif %}

          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="#" aria-describedby="submission-date">
                23 September 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submission-date">Completed</strong>
          </li>
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="#" aria-describedby="lsubmission-date">
                11 August 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submission-date">Completed</strong>
          </li>
          {% if (data['view-submission-history'] == "submission-failed") %}

          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="add-failed-cya" aria-describedby="submission-date">
              10 August 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--red govuk-prototype-kit-task-list__tag" id="medical-information-status">Rejected</strong>
          </li>
          {% else %}
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="#" aria-describedby="submission-date">
              10 August 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submission-date">Completed</strong>
          </li>
          {% endif %}


          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="#" aria-describedby="submission-date">
              28 June 2023
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submission-date">Completed</strong>

          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>

{% endblock %}
