{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      
    
     
        <h1 class="govuk-heading-l">Invitation expired</h1>

        <p class="govuk-body">Your invitation has expired. Ask the person who invited you to send it again.</p>

        
      
        

      

         
        
    </div>
  </div>

  



{% endblock %}
