{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="cya" method="post" novalidate>



      <h1 class="govuk-heading-l">
        Invite a team member
      </h1>

<!-- <p>If you do not have an account yet, you can <a href="">[create one]</a></p> -->
    <!-- <form action="/mfa" method="post" novalidate> -->
      <p>We will email them an invitation link to join the service.</p>


      {% from "govuk/components/input/macro.njk" import govukInput %}

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="invite-email">
          Government email address
        </label>
        <input class="govuk-input govuk-input--width-20" id="invite-emmail" name="invite-email" type="text">
      </div>
  

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Access level
            </legend>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="access" name="access" type="radio" value="Standard">
              <label class="govuk-label govuk-radios__label" for="access">
                Share and download
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="access-2" name="access" type="radio" value="Download only">
              <label class="govuk-label govuk-radios__label" for="access-2">
                Download
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>


  </div>
</div>

{% endblock %}
