{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}


{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}

{% endblock %}

{% block content %}






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Check your phone</h1>



<div class="govuk-inset-text">

We have sent a code to your phone number ending with  <span class="govuk-!-font-weight-bold">365</span>

</div>


<p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

<form id="form-tracking" action="reset" method="post" novalidate="novalidate">
<input type="hidden" name="phoneNumber" value="*********6365">
<input type="hidden" name="_csrf" value="EFCDgRa4-psUaopdQ2LkwxAbyar3HmjSSn2w">
<input type="hidden" name="supportAccountRecovery" value="true">
<input type="hidden" name="checkEmailLink" value="/check-email-change-security-codes?type=SMS">



<div class="govuk-form-group">
<label class="govuk-label" for="code">
Enter the 6 digit security code
</label>

<input class="govuk-input govuk-input--width-10 govuk-!-font-weight-bold" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">

</div>










<button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
Continue
</button>


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Problems with the code?
</span>
</summary>
<div class="govuk-details__text">

<p class="govuk-body">
We can 
<a href="get-code" class="govuk-link" rel="noreferrer noopener">send the code again</a>
 or you can <a href="phone" class="govuk-link" rel="noreferrer noopener">use a different phone number</a>.
</p>

  <!-- <p class="govuk-body">
      If you cannot access the phone number for your GOV.UK One Login, you can securely 
      <a href="/check-email-change-security-codes?type=SMS" class="govuk-link" rel="noreferrer noopener">change how you get security codes</a>.
  </p> -->


</div>
</details>


</form>

<!--% include('/7-0-0/includes/help.html') %} -->
  </div>
</div>

{% endblock %}
