{% extends "layouts/main.html" %}



{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}


{% endblock %}

{% block content %}






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter the security code you entered is not correct, try entering it again or wait for your authenticator app to give you a new code</a>
            </li>
        
          </ul>
        </div>
      </div>
    </div>
  

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Enter the 6 digit security code you see in your authenticator app</h1>







    <div class="govuk-form-group govuk-form-group--error">
      <p id="email-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter the security code you entered is not correct, check your authenticator app and try again
      </p>
      
      <input class="govuk-input govuk-input--width-10 govuk-input--error govuk-!-font-weight-bold" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
      
      </div>
      










<button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
Continue
</button>





</form>

{% include('/7-0-0/includes/help.html') %}
  </div>
</div>

{% endblock %}
