{% extends "layouts/main.html" %}

{% block pageTitle %}
File not downloaded – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include('../includes/phase-banner.html') %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <!-- <p class="govuk-body">We saved your answers. They will be available for 30 days.</p> -->
      <p class="govuk-body">
        <a class="govuk-link" href="#">Contact the One Login Shared Signals support team</a> if you have an urgent need to shared fraud information.
      </p>
    </div>
  </div>
{% endblock %}
