{% extends "layouts/main.html" %}

{% block header %}

{% include('/7-0-0/includes/header.html') %}
{% endblock %}

{% block pageTitle %}
File not downloaded – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include('../includes/phase-banner.html') %}
  
{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <!-- <p class="govuk-body">We saved your answers. They will be available for 30 days.</p> -->
      


  {% include('../includes/help.html') %}
    </div>
  </div>

{% endblock %}
