{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What is the reason for the update – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="reason-id-fraud" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}



        {{ govukRadios({
          name: "id-type",
          fieldset: {
            legend: {
              text: "What user information are you concerned about? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
     
           items: [

            {
              value: "User Identifier Code",
              text: "User ID(s)"
            },
            {
              value: "IP Address",
              text: "IP Address"
            },
            {
              value: "Email Address",
              text: "Email Address"
            },
            {
              value: "Passport Number",
              text: "Passport Number"
            },
 
            {
              value: "Driving Licence Number",
              text: "Driving Licence Number"
            },
            {
              value: "Biometric Residency Permit Number",
              text: "Biometric Residency Permit Number"
            },
            {
              value: "National Insurance Number",
              text: "National Insurance Number"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}