{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What type of fraud information do you want to share? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-reason-answer" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">What type of fraud information do you want to share?</h1>

        <p>Choose what type of fraud-related events you'd like to share with GOV.UK One Login.</p>


        <!-- {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
          text: "At the moment, you can only share one type of event at a time using this service."
        }) }} -->


        {% if (data['release-state'] == "MVP")  %}



        {{ govukRadios({
          name: "reason",
          fieldset: {
         
          },


           items: [

           {
            value: "Users that GOV.UK One Login suspects of committing fraud",
            text: "Users that GOV.UK One Login suspects of committing fraud (including users under investigation)"
          },
        
          {
            value: "Users that have been blocked",
            text: "Users that have been blocked from accessing GOV.UK One Login or another service"
          },
        
          {
            value: "Users that have been unblocked",
            text: "Users that have been unblocked from accessing GOV.UK One Login or another service"
          },
        
        
          {
            value: "Password compromised",
            text: "Users whose GOV.UK One Login may have been compromised"
          }

            
          ]
        }) }}


                
        {% else %}



        {{ govukRadios({
          name: "reason",
          fieldset: {
         
          },


           items: [


           {
            value: "Users that GOV.UK One Login suspects of being involved in fraud",
            text: "Users that GOV.UK One Login suspects of being involved in fraud "
          },
        
          {
            value: "Users that GOV.UK One Login no longer suspects of committing fraud",
            text: "Users that GOV.UK One Login no longer suspects of committing fraud"
          },
        
          {
            value: "Users that have been blocked",
            text: "Users that have been blocked from accessing GOV.UK One Login or another service"
          },
        
          {
            value: "Users that have been unblocked",
            text: "Users that have been unblocked from accessing GOV.UK One Login or another service"
          }

            
          ]
        }) }}
        {% endif %}
        
   

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}