{% extends "layouts/main.html" %}

{% block header %}
{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
Choose what type of fraud information you want to download– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['release-state'] == "MVP") %}
      <form action="get-are-you-sure" method="post" novalidate>
        <!-- <form action="add-ids?task=getinfo" method="post" novalidate> -->

      {% else %}
      <form action="view-information" method="post" novalidate>

      {% endif %}


      <!-- {% if (data['task'] == "viewinfo") %}
      <form action="view-information" method="post" novalidate>
        {% else %}
      <form action="get-options" method="post" novalidate>
      {% endif %} -->
        <!-- Change content for all -->
        {% set question = "Choose what type of fraud information you want to download" %}
        <!-- Change content for view -->
        {% if (data['task'] == "viewinfo") %}
        {% set question = "What types of fraud activity do you want to view?" %}

        {% endif %}


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



        <!-- <h1 class="govuk-heading-l">{{question}}</h1>
        {% if (data['task'] == "getinfo") %}
        <p>You can download information about any of the following different types of fraud-related events.</p>
        {% endif %} -->


{{ govukCheckboxes({
  name: "get-reasons",
  fieldset: {
    legend: {
      html: question,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  hint: {
    text: "Select all the types of events you want information about"
  },


  items: [
  {
    value: "Account disabled",
    text: "Accounts blocked from using our services"
  },

  {
    value: "Account enabled",
    text: "Accounts unblocked from using our services"
  },

 

  {
    value: "Suspicion or detection of identity fraud",
    text: "Suspicion or detection of identity fraud"
  },

  {
    value: "Password compromised",
    text: "Password compromised"
  }
]
}) 
}}



        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}



