{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – Share fraud information with GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Share fraud information with GOV.UK One Login
      </h1>
      <p>GOV.UK One Login shares information with services to help prevent fraud. This is sometimes called 'shared signals'.</p>
      <p>Fraud analysts across government can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% if (data['release-state'] == "MVP")  %}

        <li>share information about fraud-related events with GOV.UK One Login and other services</li>
        <li>view fraud information that GOV.UK One Login and other services have shared in the last 7 days</li>
  
        {% else %}
        <li>share information about fraud-related events with GOV.UK One Login and other services</li>
        <li>view fraud information that GOV.UK One Login and other services have shared in the last 7 days</li>
        <li>view previous submissions</li>
        {% endif %}

   
      </ul>
      <!-- <p>You'll need to sign in to use this service. If you do not have an account yet, you'll need a government email address to create one.</p> -->

      {{ govukButton({
        text: "Start now",
        href: "login",
        isStartButton: true
      }) }}

 
  

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Shared Signals Framework guidelines
              </a>
            </li>
  
    
          </ul>
        </nav>
      </aside> -->

    </div>
  </div>

{% endblock %}
