{% extends "layouts/main.html" %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form action="cya" method="post" novalidate>


        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        {{ govukRadios({
          name: "reason",
          fieldset: {
            legend: {
              text: "What has happened to the accounts",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
  
           items: [
            {
              value: "accounts credential changes are required",
              text: "Accounts credential changes are required"
            },
            {
              value: "Accounts are purged",
              text: "Accounts are purged"
            },
            {
              value: "Accounts are disabled",
              text: "Accounts are disabled"
            },
            {
              value: "Accounts are enabled",
              text: "Accounts are enabled"
            }
          ]
        }) }}




        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}