{% extends "layouts/main.html" %}

{% block header %}

{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['add'] == "ID1st")  %}
      <form action="cya" method="post" novalidate>

        {% elseif (data['upload-state'] == "uploadsingle")  %}
        <form action="id-multiple" method="post" novalidate>
        
        {% else %}
        <form action="add-ids" method="post" novalidate>

      {% endif %}



        
       {% from "govuk/components/radios/macro.njk" import govukRadios %}




       {% from "govuk/components/input/macro.njk" import govukInput %}



       {% set textHtml %}
       {{ govukInput({
         id: "other-source",
         name: "other-source",
         type: "text",
         autocomplete: "text",
         classes: "govuk-!-width-one-third",
         label: {
           text: "Add source"
         }
       }) }}
       {% endset -%}
        




        {{ govukRadios({
          name: "source",
          fieldset: {
            legend: {
              text: "What is the source of this information? (optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is often called the rational code"
        
        },
        


           items: [
            {
              value: "Intelligence from RP",
              text: "Intelligence from RP"
         
           
            },
  
            {
              value: "Intelligence from Third Party",
              text: "Intelligence from Third Party"
            },

            {
              value: "Intelligence from Criminal Investigation",
              text: "Intelligence from Criminal Investigation"
            },
            {
              value: "Intelligence from Private Investigation",
              text: "Intelligence from Private Investigation"
            },

            {
              value: "Intelligence from Usual Monitoring Exercises",
              text: "Intelligence from Usual Monitoring Exercises"
            },

            {
              value: "Intelligence from Compromised List",
              text: "Intelligence from Compromised List"
            },

            {
              value: "Intelligence from Customer Contact",
              text: "Intelligence from Customer Contact"
            },
            {
            value: "Active Criminal Investigation",
            text: "Active Criminal Investigation"
          },
          {
          value: "Active Private Investigation",
          text: "Active Private Investigation"
        },

            {
              value: "I do not know",
              text: "I do not know"
            },
            
            {
              divider: "or"
            },
              {
                value: "other source",
                text: "Other",
                conditional: {
                  html: textHtml
                }
              }
            ]
          }) }}

        


       
      

       

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    
    </div>
  </div>
{% endblock %}
