{% extends "layouts/main.html" %}


{% block header %}

{% include('./includes/header.html') %}
{% endblock %}


{% block pageTitle %}
What would you like to do? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{% endblock %}


{% block content %}

{% if (data['homepage-state'] != "off") or (data['release-state'] == "MVP")  %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Share fraud information with GOV.UK One Login</h1>

      
    <!-- <h1 class="govuk-heading-l">Send and receive Fraud Shared Signals</h1> -->
    <!-- {% if (data['release-state'] == "MVP")  %}
    <p>Use this service to download and add fraud information, often called shared signals.</p>

    {% else %}
    <p>Use this service to view, download and add fraud information, often called shared signals. 
      {% if (data['release-state'] == null)  %}
  
      You can also view your previously submitted information.    
      {% endif %}

    </p>

    {% endif %} -->

  
    {% if (data['notification'] == "yes") %}

    <div class="govuk-inset-text">
      There are 3 updates for events you have previously downloaded or viewed
      <a class="govuk-notification-banner__link" href="view-information">View updates</a>
    </div>

 
  {% endif %}
  
  </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['release-state'] == "MVP")  %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          

          <h2 class="govuk-summary-card__title">            
            View fraud information from GOV.UK One Login</h2>
          
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              
              {% if (data['notification'] == "no updates")  %}
              <p>There are no fraud updates to download.</p>

              {% else %}

              <p>Download a .csv file with fraud information shared by GOV.UK One Login and other government services. For example, you can get information about users that have been blocked from accessing GOV.UK One Login or who are under investigation.</p>

                <p>You can also download updates about any action GOV.UK One Login may have taken as a result of fraud information you've shared.</p>

                  <p>You can only download information from the last 7 days. The information was last updated on 23 June 2023. </p>

              <p><a href="get-reasons">Download GOV.UK One Login fraud information</a></p>



              {% endif %}

    
      
    
    
            </div>
          </dl>
        </div>
        
      </div>
     

      {% elseif (data['release-state'] == "MVP2")  %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">View information</h2>
          
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                  
              <p><a href="get-reasons?task=viewinfo">View and download latest fraud information from One Login</a></p>

    
            </div>
          </dl>
        </div>
      </div>

      {% else %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">View information


          <!-- {% if (data['notification'] == "yes") %}
    
          <strong class="govuk-tag govuk-tag--red">
            3 updates
          </strong>
        {% endif %} -->

          </h2>
          


        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              
              <p><a href="view-information">View and download latest fraud information from One Login</a></p>
    
    
    
            </div>
          </dl>
        </div>
      </div>
      {% endif %}

 
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Share fraud information with GOV.UK One Login</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          {% if (data['add'] == "ID1st")  %}
          <p><a href="add-ids">Add fraud information to One Login using a form</a></p>

          {% elseif (data['release-state'] != null)  %}

          <p>Use this to share information about fraud-related events in your service.</p>

          <p>For each event you share, you'll need to include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the user ID</li>
            <li>the reason why you're investigating the event as fraud</li>
  
          </ul>
 
          <p>You'll also get the option to add details about the method of fraud and the source of your information for each event.</p>

          <p><a href="add-reason">Share fraud information</a></p>



       
          {% else %}
          <p><a href="add-format">Add fraud information to One Login using a form or a file</a></p>
          {% endif %}



        </div>
      </dl>
    </div>
  </div>


</div>
{% if (data['release-state'] == null)  %}

<div class="govuk-grid-column-one-third">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">View submissions</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <p><a href="view-submission-history">View your previous submissions to One Login</a></p>



        </div>
      </dl>
    </div>
  </div>


</div>
{% endif %}


</div>

{% if (data['admin'] == "yes") %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Manage users</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <p><a href="view-submission-history">Manage access for users withing your department</a></p>


        </div>
      </dl>
    </div>
  </div>
</div>


</div>


{% endif %}


<p class="govuk-body govuk-!-margin-top-9"">Service last updated on 23 June </p>

</div>


{% else %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1> -->


    <form action="task-answer" method="post" novalidate>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What would you like to do?
          </h1>
        </legend>

        {% if (data['notification'] == "yes") %}

        <div class="govuk-notification-banner" role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            There are 3 updates for events you have previously downloaded or viewed
            <a class="govuk-notification-banner__link" href="view-information?get-options=certain-events">View updates</a>.
          </p>
        </div>
      </div>
      {% endif %}


      {% if (data['view-state'] != "no") %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="task-3" name="task" type="radio" value="viewinfo">
        <label class="govuk-label govuk-radios__label" for="task-3">
          View and download fraud information
        </label>

      </div>
      {% endif %}

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="task" name="task" type="radio" value="addinfo">
            <label class="govuk-label govuk-radios__label" for="task">
              Add fraud information
            </label>
          </div>

        {% if (data['download-state'] == "on") %}

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="task-2" name="task" type="radio" value="getinfo">
            <label class="govuk-label govuk-radios__label" for="task-2">
              Download fraud information
            </label>
          </div>
          {% endif %}



          {% if (data['view-submission-history'] != "no")  %}

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="task-4" name="task" type="radio" value="viewprevious">
            <label class="govuk-label govuk-radios__label" for="task-4">
              View my previous submissions
            </label>
          </div>
          {% endif %}

        </div>
      </fieldset>
    </div>



    


    

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

    
  </div>

  <div class="govuk-grid-column-one-third">

   

  </div>
  
</div>


{% endif %}



{% endblock %}
