<h2 class="govuk-heading-m">File details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      File upload
    </dt>
    <dd class="govuk-summary-list__value">


      {% if (data['file-upload'] == "true") %}

      rp-upload465.csv
      {% endif %}
     

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="upload-file">
        Change<span class="govuk-visually-hidden"> file</span>
      </a>
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-m">File contents</h2>



<dl class="govuk-summary-list govuk-!-margin-bottom-9">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
      {{ data['id1'] }} <br>
      {{ data['id2'] }} <br>
      {{ data['id3'] }} <br>
      {{ data['id4'] }}
    </dd>

  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Credentials compromised
    </dd>

  </div>


 



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
      {{ data['id5'] }} <br>
      {{ data['id6'] }} <br>
      {{ data['id7'] }} <br>
      {{ data['id8'] }}

    </dd>

  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Account suspended
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User IDs
    </dt>
    <dd class="govuk-summary-list__value">
    
      {{ data['id5'] }} <br>
      {{ data['id6'] }} <br>
      {{ data['id7'] }} <br>
      {{ data['id8'] }}
    </dd>

  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Update reason
    </dt>
    <dd class="govuk-summary-list__value">
      Identifier changed 
    </dd>

  </div>

</dl>




      
 {% if (data['source'] == "Suspected stolen account") %} <!-- SUSPECT STOLEN ACCOUNT _ MULTIPLE SUBMISSIONS -->

 <h2 class="govuk-heading-m">Recently submitted fraud information</h2>
 
 <div class="govuk-inset-text">
   The following fraud information has recently been submitted. We will only submit new fraud information.
 </div>
 <dl class="govuk-summary-list govuk-!-margin-bottom-9">

   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">

       {% if (data['userid'] == null) %}
       User IDs

       {% else %}
       User ID
       {% endif %}

     </dt>
     <dd class="govuk-summary-list__value">
     
      {{ data['id9'] }}

   

     </dd>
     <dd class="govuk-summary-list__actions">
  
     </dd>
   </div>

   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Update reason
     </dt>
     <dd class="govuk-summary-list__value">
       Suspicion or Detection of Identity Fraud

     </dd>
     <dd class="govuk-summary-list__actions">
  
     </dd>
   </div>


   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Method used
     </dt>
     <dd class="govuk-summary-list__value">
     
     Agent misuse


     </dd>
     <dd class="govuk-summary-list__actions">
    
     </dd>
   </div>







   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       
     
       Information source

     </dt>
     <dd class="govuk-summary-list__value">
      
       Suspected stolen account
     </dd>
     <dd class="govuk-summary-list__actions">
     



       

     
     </dd>
   </div>







 </dl>


 {% endif %}
