{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    
    <h2 class="govuk-summary-card__title">
      Version 2-0-0
    </h2>
    <a class="govuk-button govuk-body govuk-!-margin-bottom-0" data-module="govuk-button" href="/2-0-0/">
      Start prototype
    </a>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phase
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--blue">
            Design
          </strong>
        </dd>
 
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Last updated

        </dt>
        <dd class="govuk-summary-list__value">
          Ongoing
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Summary
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
            <li>Initial download journey created</li>
            <li>Iterated upload journey</li>
            <li>Iterated previous uploaded information screens</li>
            <li><a class="govuk-link" href="/2-0-0/design-history/">View design history<span class="govuk-visually-hidden"> design history</span></a>
            </li>
          </ul>
          </a>
        </dd>
       </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional setup
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="/2-0-0/setup">Setup prototype</a>
        </dd>
     
      </div>
    </dl>

    
  </div>
</div>