{% extends "layouts/main.html" %}



{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="mfa" method="post" novalidate>

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Check your email</h1>



<div class="govuk-inset-text">

We have sent an email to: <span class="govuk-!-font-weight-bold">email@address.com</span>

</div>

<p class="govuk-body">The email contains a 6 digit security code.</p>

<p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
<p class="govuk-body">The code will expire after 15 minutes.</p>

<form id="form-tracking" action="/enter-code" method="post" novalidate="novalidate">
<input type="hidden" name="phoneNumber" value="*********6365">
<input type="hidden" name="_csrf" value="EFCDgRa4-psUaopdQ2LkwxAbyar3HmjSSn2w">
<input type="hidden" name="supportAccountRecovery" value="true">
<input type="hidden" name="checkEmailLink" value="/check-email-change-security-codes?type=SMS">



<div class="govuk-form-group">
<label class="govuk-label" for="code">
Enter the 6 digit security code
</label>

<input class="govuk-input govuk-input--width-10 govuk-!-font-weight-bold" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">

</div>










<button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
Continue
</button>


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Problems with the code?
</span>
</summary>
<div class="govuk-details__text">

<p class="govuk-body">
We can 
<a href="/resend-code" class="govuk-link" rel="noreferrer noopener">send the code again</a>
 if the code is not working or you did not receive it.
</p>

  <!-- <p class="govuk-body">
      If you cannot access the phone number for your GOV.UK One Login, you can securely 
      <a href="/check-email-change-security-codes?type=SMS" class="govuk-link" rel="noreferrer noopener">change how you get security codes</a>.
  </p> -->


</div>
</details>


</form>
<!--% include('/7-0-0/includes/help.html') %} -->
  </div>
</div>

 

{% endblock %}
