{% extends "layouts/main.html" %}




{% block beforeContent %}
{% include('/7-0-0/includes/phase-banner.html') %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    
    
        <div class="govuk-grid-column-two-thirds">
        <form action="otp" method="post" novalidate>



      <h1 class="govuk-heading-l">
        Enter your phone number
      </h1>
<!-- <p>If you do not have an account yet, you can <a href="">[create one]</a></p> -->
    <!-- <form action="/mfa" method="post" novalidate> -->
      <p>We need to send a 6 digit security code to your email address before you can reset your password.</p>

      {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Government email address"
  },
  id: "username",
  name: "username",
  autocomplete: "username",
  classes: "govuk-input--width-20",
  spellcheck: false
}) }}
  
      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>


  </div>
</div>

{% endblock %}
