{% if (data['notification'] == "yes") %}
      
      
       
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">
    <a class="govuk-link" href="view-information-detail?userid={{ data['id1'] }}">{{ data['id1'] }}</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id2'] }}">{{ data['id2'] }}</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>      

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id3'] }}">{{ data['id3'] }}</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>


{% endif %}




<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=a{{ data['id1'] }}">{{ data['id1'] }}</a></th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Sept 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id2'] }}">{{ data['id2'] }}</a></th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id3'] }}">{{ data['id3'] }}</a></th>

  <td class="govuk-table__cell">Account suspended</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id4'] }}">{{ data['id4'] }}</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id5'] }}">{{ data['id5'] }}</a></th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id6'] }}">{{ data['id6'] }}</a></th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id7'] }}">{{ data['id7'] }}</a></th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id8'] }}">{{ data['id8'] }}</a></th>

  <td class="govuk-table__cell">Identifier recylced</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id9'] }}">{{ data['id9'] }}</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id10'] }}">{{ data['id10'] }}</a></th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id11'] }}">{{ data['id11'] }}</a></th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id12'] }}">{{ data['id12'] }}</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id13'] }}">{{ data['id13'] }}</a></th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id14'] }}">{{ data['id14'] }}</a></th>

  <td class="govuk-table__cell">Credential compromised</td>
  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id15'] }}">{{ data['id15'] }}</a></th>

  <td class="govuk-table__cell">Account suspended</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid={{ data['id16'] }}">{{ data['id16'] }}</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>