{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">
      <!-- {{ serviceName }}  -->
      Prototype landing page
    </h1>
    <div class="govuk-grid-column-two-thirds">


      {% include('./6-0-0/includes/summary-card.html') %}
      {% include('./5-0-1/includes/summary-card.html') %}      
      {% include('./5-0-0/includes/summary-card.html') %}
      {% include('./4-0-0/includes/summary-card.html') %}
      {% include('./3-0-0/includes/summary-card.html') %}
      {% include('./2-0-0/includes/summary-card.html') %}
      {% include('./1-0-0/includes/summary-card.html') %}


  
      {% from "govuk/components/button/macro.njk" import govukButton %}


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <!-- <li>
              <a href="https://govukverify.atlassian.net/wiki/spaces/FPAD/pages/3877273701/Design+story+-+so+far">
                Design story
              </a>
            </li> -->
            <li>
              <a href="https://govukverify.atlassian.net/wiki/spaces/FPAD/pages/3876847829/UCD+space">
                UCD Confluence space
              </a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/11pCgVQ0rHsIglROF5Oi8m-H_BP4KXlScSYN4BLS5AxQ/edit#gid=0">
                UR spreadsheet notes
              </a>
            </li>

            <li>
              <a href="https://drive.google.com/drive/folders/15DqcnkgLecgP5QGPAwZRp6wMqFB46dsf?usp=drive_link">
                Video walkthroughs
              </a>
            </li>

            <li>
              <a href="https://drive.google.com/drive/folders/1MNMePgnkZ8MbfZkxNqReZ6ReLFTTxcSn?usp=drive_link">
                Screenshots
              </a>
            </li>

            <li>
              <a href="https://www.figma.com/file/wDzRN1I9WbJE0JxsS7V7DB/Shared-Signals-UI?type=design&node-id=21-536&mode=design&t=YWKnECkKdUj9l7uE-0">
                Figma flows
              </a>
            </li>

            <li>
              <a href="https://docs.google.com/document/d/1XABKOxue_H5mLefXJplXDJD9BRo3cj-p-tGmkwo707E/edit">
                Content design review
              </a>
            </li>

         
            
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
