{% if (data['notification'] == "yes") %}
      
      
       
<tr class="govuk-table__row">

  <td class="govuk-table__cell">
    jonbigggs3
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <td class="govuk-table__cell">charlotteh373
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>      

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <td class="govuk-table__cell">samsmith173
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>


{% endif %}




<tr class="govuk-table__row">

  <td class="govuk-table__cell">adrianhop4323</th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Sept 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">jonbigggs443273</th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">jimbigggs443273</th>

  <td class="govuk-table__cell">Account suspended</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">vpatel9873</th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">kpatel9873</th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">louharv978</th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">2767776662</th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">siang@hmai.com</th>

  <td class="govuk-table__cell">Identifier recylced</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">siiughiuw@hmai.com</th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">kainikhuds2345</th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">vpatel9873</th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">vpatel9873</th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">Sepepatel73</th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">vpatel9874223</th>

  <td class="govuk-table__cell">Credential compromised</td>
  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">waltD3243@pear.com</th>

  <td class="govuk-table__cell">Account suspended</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <td class="govuk-table__cell">bkahnl9873</th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>