{% if (data['notification'] == "yes") %}
      
      
       
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">
    <a class="govuk-link" href="view-information-detail?userid=jonbigggs3">jonbigggs3</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=charlotteh373">charlotteh373</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>      

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Force identity check</td>

</tr>

     
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=samsmith173">samsmith173</a>
    <strong class="govuk-tag govuk-tag--blue">
      New
    </strong>
  </th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>


{% endif %}




<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=adrianhop4323">adrianhop4323</a></th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Aug 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=jonbigggs443273">jonbigggs443273</a></th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=jimbigggs443273">jimbigggs443273</a></th>

  <td class="govuk-table__cell">Account suspended</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=vpatel9873">vpatel9873</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=kpatel9873">kpatel9873</a></th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=louharv978">louharv978</a></th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">25 Sep 2023</td>


  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=2767776662">2767776662</a></th>

  <td class="govuk-table__cell">Credential compromised</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">
    
        <strong class="govuk-tag govuk-tag--grey">
In progress
</strong>

  </td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=siang@hmai.com">siang@hmai.com</a></th>

  <td class="govuk-table__cell">Identifier recylced</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=siiughiuw@hmai.com">siiughiuw@hmai.com</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Block account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=kainikhuds2345">kainikhuds2345</a></th>

  <td class="govuk-table__cell">Identifier changed</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=vpatinqqe3">vpatel9873</a></th>

  <td class="govuk-table__cell">Account purged</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Suspend account</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=vpatel9873">vpatel9873</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Force identity check</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=Sepepatel73">Sepepatel73</a></th>

  <td class="govuk-table__cell">Account purged</td>

  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=vpatel9874223">vpatel9874223</a></th>

  <td class="govuk-table__cell">Credential compromised</td>
  <td class="govuk-table__cell">25 Sep 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=waltD3243@pear.com">waltD3243@pear.com</a></th>

  <td class="govuk-table__cell">Account suspended</td>
  <td class="govuk-table__cell">9 Oct 2023</td>


  <td class="govuk-table__cell">Force identity check<br>password reset</td>


</tr>

<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header"><a class="govuk-link" href="view-information-detail?userid=bkahnl9873">bkahnl9873</a></th>

  <td class="govuk-table__cell">Recovery activated</td>

  <td class="govuk-table__cell">9 Oct 2023</td>

  <td class="govuk-table__cell">Reset password</td>


</tr>