{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Fraud information previously submitted</h1>
<p>The following fraud information was submitted on 11 November 2023.
</p>
      <dl class="govuk-summary-list">

     
        <dl class="govuk-summary-list">
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
  
              {% if (data['userid'] == null) %}
              User IDs
  
              {% else %}
              User ID
              {% endif %}
  
            </dt>
            <dd class="govuk-summary-list__value">
            
              {{ data['id9'] }}
  
   
            </dd>
            <dd class="govuk-summary-list__actions">
         
            </dd>
          </div>
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Update reason
            </dt>
            <dd class="govuk-summary-list__value">
              Password compromised
  
            </dd>
            <dd class="govuk-summary-list__actions">
         
            </dd>
          </div>
  
  
 
  
       
  
  
  
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
            
              Information source
  
            </dt>
            <dd class="govuk-summary-list__value">
             
              {% if (data['source'] == null) %}
              Details found on compromised list
  
              {% else %}
              {{ data['source'] }}
              {% endif %}
              
            </dd>
            <dd class="govuk-summary-list__actions">
            
  
  
  
              
  
            
            </dd>
          </div>
  
  
  

     

      </dl>
    


     

      </dl>



      



        <form action="cya" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "adddupe",
        fieldset: {
          legend: {
            text: "Do you want to resubmit this information?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
   
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
  




      
    </div>

  </div>
{% endblock %}
