{% extends "layouts/main.html" %}

{% block header %}
{% include('./includes/header.html') %}
{% endblock %}

{% block pageTitle %}
Enter the User IDs– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if (data['task'] == "getinfo") %}
        <!-- <form action="get-are-you-sure" method="post" novalidate> -->
          <form action="add-reason" method="post" novalidate>

        {% else %}

          {% if (data['add'] == "ID1st")  %}
          <form action="add-reason" method="post" novalidate>

  
          {% else %}


            {% if (data['reason'] == "Password compromised") %}
            <form action="add-are-you-sure" method="post" novalidate>

            {% else %}
            <form action="cya" method="post" novalidate>

            {% endif %}


          {% endif %}


        {% endif %}



              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="user-id">
                    What is the user Uniform Resource Name (URN)?
                    <!-- Enter the auth provider ID -->

                  </label>
                </h1>
                <div id="user-id-hint" class="govuk-hint">
               For example,<br>
               urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=, 
                </div>
                <textarea class="govuk-textarea" id="user-id" name="user-id" rows="5" aria-describedby="user-id-hint"></textarea>
              </div>

        {{ govukButton({
          text: "Continue"
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with URN
            </span>
          </summary>
          <div class="govuk-details__text">
            Supporting content letting the user know how to get hold of a URN if they need suppport.
          

          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with adding multiple URNs
            </span>
          </summary>
          <div class="govuk-details__text">

       
            Please enter all user URNs, separated by a comma (,) <br>

            For example,<br>
            urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=, urn:fdc:gov.uk:2023:56P4CMsGh_02Y9PWpd8PAOI-2sVlB2nsNU7mcLZYhOw= 
          
    
          </div>
        </details>


      </form>
    </div>
  </div>
{% endblock %}