{% extends "layouts/main.html" %}


{% block pageTitle %}
  Confirmation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

  


      {{ govukPanel({
        titleText: "Account intervention submitted",
        html: "Information submitted to One Login"
      }) }}


  
        
        <p>We've sent your account intervention to ???. </p>


      <h2 class="govuk-heading-m">
        What happens next
      </h2>
    
      <p>You should see the infromation in [tool] within the next 24 hrs.</p>

      <p>
        You can <a href="add-fraud-intervention?task=clear">add another account intervention</a>.
      </p>

  

      <a class="govuk-button" href="./google-auth">
        Sign out
        </a>

    </div>
  </div>

{% endblock %}
