{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check the details before submitting intervention</h1>
      <!-- <h2 class="govuk-heading-m">Personal details</h2> -->
 

  

      <dl class="govuk-summary-list govuk-!-margin-bottom-3">

 

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Intervention type
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['intervention'] == null) %}
            Credentials compromised
            {% else %}
            {{ data['intervention'] }}

            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
       
          </dd>
        </div>

       
      

      



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            
            {% if (data['user-id'] == false) or (data['id-multiple'] == "yes") %}
            One Login subject IDs

            {% else %}
            One Login subject ID
            {% endif %}

          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['user-id'] == false) or (data['id-multiple'] == "yes") %}
            {{ data['id1'] }} <br>
            {{ data['id2'] }} <br>
            {{ data['id3'] }} <br>
            {{ data['id4'] }}


            {% if (data['adddupe'] == "Yes") %}

            <br>{{ data['id9'] }}

            {% endif %}


            {% else %}
            {{ data['user-id'] }}
            {% endif %}

        
 
          </dd>
          <dd class="govuk-summary-list__actions">
     
          
          </dd>
        </div>

       
       


      </dl>
     
<p class="govuk-!-margin-bottom-6">
      <a class="govuk-link" href="add-fraud-intervention">
        Change details<span class="govuk-visually-hidden"> ids</span>
    </a>
  </p>



      {% from "govuk/components/button/macro.njk" import govukButton %}




      <form action="confirmation-mai" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Accept and submit
        </button>
      </form>



  




      
    </div>

  </div>
{% endblock %}
