{% extends "layouts/main.html" %}

{% block pageTitle %}
Which fraud events– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['release-state'] == "MVP") %}
      <form action="get-are-you-sure" method="post" novalidate>
        <!-- <form action="add-ids?task=getinfo" method="post" novalidate> -->

      {% else %}
      <form action="view-information" method="post" novalidate>

      {% endif %}


      <!-- {% if (data['task'] == "viewinfo") %}
      <form action="view-information" method="post" novalidate>
        {% else %}
      <form action="get-options" method="post" novalidate>
      {% endif %} -->
        <!-- Change content for all -->
        {% set question = "What types of fraud activity do you want to download?" %}
        <!-- Change content for view -->
        {% if (data['task'] == "viewinfo") %}
        {% set question = "What types of fraud activity do you want to view?" %}

        {% endif %}


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


        {% if (data['download-state'] != "getallreasons") %}



{{ govukCheckboxes({
  name: "get-reasons",
  fieldset: {
    legend: {
      html: question,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  hint: {
    text: "Select all that apply."
  },


  items: [
  {
    value: "Account disabled",
    text: "Accounts blocked from using our services"
  },

  {
    value: "Account enabled",
    text: "Accounts unblocked from using our services"
  },

 

  {
    value: "Suspicion or detection of identity fraud",
    text: "Suspicion or detection of identity fraud"
  },

  {
    value: "Password compromised",
    text: "Password compromised"
  },



  {
  value: "User is being investigated",
  text: "User is being investigated"
}
]
}) 
}}


{% else %}


{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      html: question,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  hint: {
    text: "Select all that apply."
  },


  items: [
  {
    value: "Account disabled",
    text: "Account disabled"
  },

  {
    value: "Account enabled",
    text: "Account enabled"
  },

 

  {
    value: "Suspicion or detection of identity fraud",
    text: "Suspicion or detection of identity fraud"
  },

  {
    value: "Password compromised",
    text: "Password compromised"
  },



  {
  value: "User is being investigated",
  text: "User is being investigated"
}
  ]
}) 
}}

{% endif %}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}