{% extends "layouts/main.html" %}

{% block pageTitle %}
What has happened to the account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if (data['add'] == "event1st")  %}
        <form action="add-ids" method="post" novalidate>
  
        {% else %}
        <form action="cya" method="post" novalidate>
  
        {% endif %}

       {% from "govuk/components/radios/macro.njk" import govukRadios %}


        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "intervention",
          fieldset: {
            legend: {
              text: "Are you users still under active investigation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        
           items: [
      

            {
              value: "Yes",
              text: "Yes"
            },

            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


      





        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

        

    
    </div>
  </div>
{% endblock %}