
items: [
            {
              value: "accounts",
              text: "Account related"
            },
            {
              value: "identifier",
              text: "Identifier changed or recylced"
            },
            {
              value: "credential",
              text: "Credential compromised"
            },
            {
              value: "optin",
              text: "Account Opted in or out from RISC exchanges"
            },
 
            {
              value: "recovery",
              text: "Recovery requested or information changed"
            }
            ]